<h3>Book Store</h3>
<div class="d-flex flex-wrap mt-5 justify-content-center">
  <div class="card ms-4 mb-4" style="width: 18rem;" *ngFor="let item of allBooks">
    <img [src]="item.coverImg" class="card-img-top" alt="Book Cover" height="300px" width="250px"> 
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{item.bookName}}</h5>
      <h5 class="card-title">Author: {{item.author}}</h5>
      <p class="card-text">Price: &#8377;{{item.price}}</p>
    </div>
  </div>
</div>
